.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #191a32 0%, rgba(25, 26, 50, 0) 218.84%),
    url("http://mppmduse2pmpovwapp.azurewebsites.net/wp-content/uploads/2019/09/netflix-background-9.jpg");
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .wrapper_inside {
        display: flex;
        align-items: center;

        span {
          color: white;
          font-size: 30px;
          margin-left: 5px;
        }
      }

      img {
        height: 100px;
      }

      .logo {
        height: 40px;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    .container_inside {
      display: none;
    }

    .logo_mbl {
      display: none;
    }

    form {
      width: 300px;
      height: 300px;
      padding: 30px;
      border-radius: 5px;
      background-color: rgb(255, 255, 255, 0.0999);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 10px;
      backdrop-filter: blur(7px);
      // box-shadow: 0px 0px 7px 2px rgb(255, 255, 255, 0.2);

      input {
        height: 40px;
        border-radius: 0px;
        background-color: transparent;
        color: white;
        padding-left: 10px;
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        transition: 0.5s;

        &::placeholder {
          color: lightgray;
        }

        &:focus {
          border-bottom: 1px solid var(--red-color);
          transition: 0.5s;
        }
      }

      button {
        height: 40px;
        border-radius: 5px;
        background-color: red;
        color: white;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 20px;
      }

      span {
        color: lightgray;
        b {
          color: white;
        }
      }
    }
  }
}

.signin_text {
  color: white;
  text-decoration: none;
}

.signin_loader {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 990px) {
  .login {
    background: linear-gradient(0deg, #191a32 35%, rgba(25, 26, 50, 0) 180.84%),
      url("http://mppmduse2pmpovwapp.azurewebsites.net/wp-content/uploads/2019/09/netflix-background-9.jpg") !important;
    .top {
      .wrapper {
        justify-content: center !important;

        text-align: center !important;
        padding: 20px 20px !important;
        width: auto !important;
        margin: 0 auto !important;

        .wrapper_inside {
          display: none;
        }

        img {
          height: 100px !important;
          display: none;
        }
      }
    }

    .container {
      margin: auto !important;
      text-align: center !important;

      .container_inside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          color: white;
          font-size: 24px;
          margin-left: 0px;
          margin-top: 10px;
        }
      }

      .logo_mbl {
        display: block;

        width: 80px;
      }

      form {
        background-color: transparent !important;
        backdrop-filter: none;
        margin-top: 20px;

        h1 {
          display: none;
        }
      }
    }
  }

  // .logo {
  //   height: 20px !important;
  //   width: auto !important;
  // }
}
