.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #191a32 0%, rgba(25, 26, 50, 0) 218.84%),
    url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .wrapper_inside {
        display: flex;
        align-items: center;

        span {
          font-size: 30px;
          color: white;
          margin-left: 5px;
        }
      }

      .logo {
        height: 40px;
      }

      .loginButton {
        background-color: red;
        border: none;
        color: white;
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        position: absolute;
        z-index: 999;
        width: 90px;
        right: 40px;
        top: 30px;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
      font-size: 50px;
    }

    h2 {
      margin: 20px;
    }

    p {
      font-size: 20px;
    }

    .input {
      width: 50%;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      height: 50px;
      border-radius: 6px;

      input {
        flex: 9;
        height: 100%;
        border: none;
        padding: 0 10px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        outline: none;
        background-color: rgb(255, 255, 255, 0.2);
        backdrop-filter: blur(6px);
        color: white;

        &::placeholder {
          color: rgb(187, 187, 187);
        }
      }

      .registerButton {
        flex: 3;
        height: 100%;
        background-color: red;
        border: none;
        color: white;
        font-size: 22px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        display: flex;
        text-decoration: none;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}

.password_back_btn {
  color: var(--red-color);
  font-size: 22px;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(1.06);
    transition: 0.5s;
  }
}

@media screen and (max-width: 990px) {
  .register {
    .top {
      .wrapper {
        padding: 20px 20px;

        .loginButton {
          right: 20px;
          margin-top: -10px;
        }
      }
    }

    .container {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      padding: 0px 4.8vw;

      // width: auto;
      text-align: center;
      flex-wrap: wrap;
      width: 90%;

      h1 {
        font-size: 30px;
      }

      h2 {
        margin: 0px;
        font-size: 22px;
      }

      p {
        font-size: 18px;
      }

      .input {
        width: 100%;

        input {
          flex: 8.5;
        }

        .registerButton {
          font-size: 16px;
          flex: 3.5;
        }
      }
    }
  }

  .logo_mbl {
    height: 30px !important;
    width: auto !important;
    margin-top: 20px !important;
  }
}
