.watch {
  width: 100vw;
  height: 100vh;

  .back {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    cursor: pointer;
    z-index: 2;
  }

  .video {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
  }
}

//close btn
// .sc-dkPtyc header svg {
//   display: none !important;
// }

// .egdRqH .progress-bar {
//   background: linear-gradient(
//     93deg,
//     rgb(197, 51, 6) 10.7296%,
//     rgb(255, 255, 255) 10.7296%
//   ) !important;
// }
