.listItem {
  width: 225px;
  height: 120px;
  background-color: var(--main-color);
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  border-radius: 15px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  // .list_item_images {
  //   width: 225px !important;
  //   height: 120px !important;
  //   object-fit: cover !important;
  //   border-radius: 10px !important;
  // }

  video {
    width: 100%;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover {
    // transform: scale(1.1);
    height: 300px;
    position: absolute;
    z-index: 999999;
    transition: 0.3s;
    margin-top: -130px;
    width: 300px;
    border-radius: 10px;
    transition-delay: 0.8s;
    box-shadow: 0px 0px 10px 10px rgb(0.3, 0.3, 0.3, 0.3);

    img {
      height: 140px;
      transition: 1.2s;
    }

    .itemInfo {
      display: flex;
      flex-direction: column;
      padding: 10px 15px;

      .icons {
        display: flex;
        margin-bottom: 20px;

        .icon {
          border: 2px solid gray;
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 20px;
        }

        .icon:nth-child(5) {
          float: right;
          margin-left: 50px;
        }

        .icon:nth-child(1) {
          border: 2px solid var(--red-color);
          padding: 5px;
          border-radius: 50%;
          margin-right: 10px;
          font-size: 20px;
          background-color: var(--red-color);
        }
      }
      .itemInfoTop {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
        color: gray;

        .limit {
          border: 1px solid gray;
          padding: 1px 3px;
          margin: 0 10px;
        }
      }

      .desc {
        font-size: 13px;
        margin-bottom: 10px;
      }

      .genre {
        font-size: 14px;
        color: lightgray;
      }
    }
  }
  //   &:not(:hover) {
  //     transition: 0.5s;
  //   }
}

// .more_modal {
//   position: fixed !important;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transform: translate(-50%, -50%);
//   width: 50vw;
//   height: auto;
//   background-color: var(--main-color);
//   margin-left: 50vw;
//   margin-top: -30vh;
//   z-index: 9999999;

//   img {
//     position: fixed;
//     width: 50vw;
//     object-fit: cover;
//   }
// }

.list_item_play_icon {
  animation: pulses 1.2s infinite;
}

.list_item_images_duplicate {
  width: 225px;
  height: 0px;
  background-color: var(--main-color);
  margin-right: 5px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  border-radius: 15px;
  opacity: 0;
}

@-webkit-keyframes pulses {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(228, 71, 23, 0.582);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulses {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(231, 110, 40, 0.4);
    box-shadow: 0 0 0 0 rgba(218, 102, 25, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@media screen and (max-width: 990px) {
  .list_item_img {
    height: 150px;
    width: 250px;
    object-fit: cover;
    border-radius: 15px;
    margin-right: 5px;
  }

  .list_item_img:nth-child(1) {
    margin-left: 20px;
  }
}
