.featured {
  height: 90vh;
  position: relative;

  .category {
    position: fixed;
    top: 19px;
    left: 825px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    display: flex;
    align-items: center;
    z-index: 9999;
    // background-color: rgb(0, 0, 0, 0.1);
    // width: 100%;
    &::after {
      content: "^";
      // font-size: 1rem;
      top: -18px;
      right: 10px;
      position: absolute;
      transform: rotate(180deg);
      font-size: 38px;
      color: gray;
    }

    select {
      cursor: pointer;
      background-color: var(--main-color);
      border: 1px solid white;
      color: white;
      margin-left: 20px;
      padding: 5px 8px;
      padding-right: 25px;
      // border-radius: 14px;
      font-size: 16px;
      appearance: none;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero_img {
    min-height: 100vh;
    animation: zoomin 8s linear alternate infinite;
    z-index: -1;
  }

  @keyframes zoomin {
    100% {
      transform: scale(1.3);
    }
  }

  .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 200px;
    color: white;
    display: flex;
    flex-direction: column;

    img {
      width: 400px;
    }

    .desc {
      margin: 20px 0px;
      font-size: 18px;
    }

    .buttons {
      display: flex;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;

        &.play {
          background-color: white;
          color: var(--main-color);

          &:hover {
            background-color: var(--red-color);
            color: white;
            transition: 0.5s;
            box-shadow: 10px 10px 10px 10px rgb(0.3, 0.3, 0.3, 0.3);
          }

          &:not(:hover) {
            transition: 0.5s;
          }
        }

        &.more {
          background-color: rgb(153, 152, 152);
          color: white;

          &:hover {
            background-color: var(--red-color);
            color: white;
            transition: 0.5s;
            box-shadow: 10px 10px 10px 10px rgb(0.3, 0.3, 0.3, 0.3);
          }

          &:not(:hover) {
            transition: 0.5s;
          }
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }
}

.volume {
  position: absolute;
  left: 93%;
  bottom: 100px;
  color: white;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(168, 168, 168);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;

  .featured_volume {
    color: white;
    font-size: 25px;
  }
}

@media screen and (max-width: 990px) {
  .featured {
    height: 70vh;

    .category {
      position: fixed;
      top: 23px;
      left: 25px;
      font-size: 30px;
      font-weight: 500;
      color: white;
      display: flex;
      align-items: center;
      z-index: 9999;

      &::after {
        content: "^";
        // font-size: 1rem;
        top: -15px;
        right: 5px;
        position: absolute;
        transform: rotate(180deg);
        font-size: 30px;
      }

      select {
        cursor: pointer;
        background-color: var(--main-color);
        border: 1px solid white;
        color: white;
        margin-left: 20px;
        padding: 2px;
        padding-right: 20px;
        border-radius: 4px;
        font-size: 14px;
        outline: none;
        appearance: none;
        width: auto;
      }
    }

    .hero_img {
      min-height: 76vh !important;
    }

    #hero_video {
      height: 76vh !important;
    }

    .info {
      width: 70vw;
      left: 20px;
      bottom: 60px;
      display: flex;
      justify-content: center;
      align-items: center;

      .desc {
        display: none;
      }

      img {
        width: 70vw;
        margin-bottom: 10px;
      }

      .buttons {
        margin-left: -45px;
        button {
          padding: 5px 10px;
        }
      }
    }
  }

  .volume {
    left: 84%;
    bottom: 55.4px;
    height: 20px;
    width: 20px;

    .featured_volume {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 991px) and (max-width: 1259px) {
  .featured {
    .category {
      position: fixed;
      top: 55px;
      left: 30px;
      font-size: 30px;
      font-weight: 500;
      color: white;
      display: flex;
      align-items: center;
      z-index: 9999;

      &::after {
        content: "^";
        // font-size: 1rem;
        top: -15px;
        right: 5px;
        position: absolute;
        transform: rotate(180deg);
        font-size: 30px;
      }

      select {
        cursor: pointer;
        background-color: var(--main-color);
        border: 1px solid white;
        color: white;
        margin-left: 20px;
        padding: 2px;
        padding-right: 20px;
        border-radius: 4px;
        font-size: 14px;
        outline: none;
        appearance: none;
      }
    }
  }
}
