.account {
  // background-color: var(--main-color);
  min-height: 100vh;
  //   max-height: max-content;
  overflow: hidden;

  .divider {
    background-color: rgb(165, 165, 165);
    height: 0.4px;
    width: 71vw;
    margin-left: 15vw;
    margin-top: -20px;

    // display: flex;
    // width: max-content;
    // transform: translateX(0px);
    // transition: all 1s ease;
    // align-items: center;
  }

  .divider2 {
    background-color: rgb(165, 165, 165);
    height: 0.4px;
    width: 71vw;
    margin-left: 15vw;
    margin-top: 10px;
  }

  .account_header {
    margin-left: 15vw;

    display: flex;
    padding-top: 100px;
    width: max-content;
    transform: translateX(0px);
    transition: all 1s ease;
    align-items: center;

    h4 {
      color: white;
      font-size: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;
    }
    img {
      height: 40px;
      width: 40px;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      margin-right: 15px;
    }

    p {
      color: white;
    }
  }

  .account_info {
    margin-left: 15vw;

    display: flex;
    justify-content: space-between;
    width: max-content;
    transform: translateX(0px);
    transition: all 1s ease;
    align-items: flex-start;
    margin-top: 10px;

    .membership_billing_text {
      p {
        color: white;
        padding-bottom: 5px;
        font-size: 20px;
      }
      .cancel_membership {
        padding: 10px 32px;
        background-color: var(--red-color);
        border-radius: 6px;
        text-decoration: none;
        color: white;
        font-size: 14px;
      }
    }

    .account_column {
      .account_row {
        display: flex;
        justify-content: space-between;

        .account_email {
          color: white;
          margin-left: 10vw;
          font-size: 18px;

          p:nth-child(1) {
            font-size: 18px;
          }

          .edit_btn {
            padding: 5px 15px;
            background-color: var(--red-color);
            color: white;
            border-radius: 6px;
            text-decoration: none;
            font-size: 14px;
            float: right;
            margin-bottom: 10px;
          }
        }
      }

      .divider1 {
        background-color: rgb(51, 51, 51);
        height: 0.2px;
        width: 50vw;
        margin-left: 10vw;
        margin-top: 10px;
      }
    }
  }
}

.blur_bg_account {
  background-color: rgb(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.change_name_modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  height: 40vh;
  width: 40vw;
  background-color: white;
  z-index: 9999;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 15px;

  p {
    font-size: 24px;
    margin-top: -5px;
  }

  .change_name_input {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--main-color);
    width: 50%;
    font-size: 20px;
    margin-top: 20px;

    &:focus {
      border-bottom: 1px solid var(--red-color);
      transition: 0.5s;
    }
  }

  .change_name_btn_div {
    margin-top: 30px;
  }

  .change_name_btn {
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 30px;
  }
}

.swal-overlay--show-modal {
  background-color: rgb(0, 0, 0, 0.7) !important;
}

@media screen and (max-width: 990px) {
  .account {
    .divider {
      width: 90vw;
      margin-left: 20px !important;
      margin-top: 0px !important;
    }

    .divider2 {
      width: 90vw;
      margin-left: 20px !important;
      margin-top: 15px !important;
    }

    .account_header {
      margin-left: 20px;
      flex-wrap: wrap;
      line-height: 5px;
      width: auto;
      flex-direction: column;
      padding-top: 60px !important;

      h4 {
        margin-right: 0px;
      }

      img {
        margin-right: 0px;
      }
    }

    .account_info {
      flex-wrap: wrap;
      flex-direction: column;
      margin-left: 20px;
      width: 90vw;

      .membership_billing_text {
        .cancel_membership_mbl {
          display: none;
        }
      }

      .account_column_plan_details {
        margin-top: -30px;
      }

      .account_column {
        .account_row {
          width: 90vw;
          align-items: center;

          .account_email {
            margin-left: 0px;
            margin-top: 15px;
          }
          .account_buttons {
            // width: 50%;
            margin-top: 8px;
          }
          .account_buttons_second {
            margin-top: -5px;
          }
          .edit_btn {
            margin-bottom: 12px !important;
          }
        }

        .divider1 {
          width: 90vw;
          margin-left: 0px;
          margin-top: 10px;
        }
      }
    }
  }

  .change_name_modal {
    height: 50vh;
    width: 80vw;
    left: 10.5%;
    top: 25%;

    .change_name_input {
      outline: none;
      border: none;
      border-bottom: 1px solid var(--main-color);
      width: 70%;
      font-size: 20px;
      margin-top: 20px;
    }
  }
}

@media screen and (min-width: 991px) and (max-width: 1259px) {
  .account {
    .divider {
      background-color: rgb(165, 165, 165);
      height: 0.4px;
      width: 80vw;
      margin-left: 8vw;
      margin-top: -20px;

      // display: flex;
      // width: max-content;
      // transform: translateX(0px);
      // transition: all 1s ease;
      // align-items: center;
    }

    .divider2 {
      background-color: rgb(165, 165, 165);
      height: 0.4px;
      width: 80vw;
      margin-left: 8vw;
      margin-top: 10px;
    }

    .account_header {
      margin-left: 8vw;

      display: flex;
      padding-top: 100px;
      width: max-content;
      transform: translateX(0px);
      transition: all 1s ease;
      align-items: center;

      h4 {
        color: white;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
      }
      img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        margin-right: 15px;
      }

      p {
        color: white;
      }
    }

    .account_info {
      margin-left: 8vw;

      display: flex;
      justify-content: space-between;
      width: max-content;
      transform: translateX(0px);
      transition: all 1s ease;
      align-items: flex-start;
      margin-top: 10px;

      .membership_billing_text {
        p {
          color: white;
          padding-bottom: 5px;
          font-size: 20px;
        }
        .cancel_membership {
          padding: 10px 32px;
          background-color: var(--red-color);
          border-radius: 6px;
          text-decoration: none;
          color: white;
          font-size: 14px;
        }
      }

      .account_column {
        .account_row {
          display: flex;
          justify-content: space-between;

          .account_email {
            color: white;
            margin-left: 5vw;
            font-size: 18px;

            p:nth-child(1) {
              font-size: 18px;
            }

            .edit_btn {
              padding: 5px 15px;
              background-color: var(--red-color);
              color: white;
              border-radius: 6px;
              text-decoration: none;
              font-size: 14px;
              float: right;
              margin-bottom: 10px;
            }
          }
        }

        .divider1 {
          background-color: rgb(51, 51, 51);
          height: 0.2px;
          width: 50vw;
          margin-left: 10vw;
          margin-top: 10px;
        }
      }
    }
  }
}
